option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "KI5xDHftljj9Y2UpDBccMepGJUtUxVykSJMSCO9h"
    MASTER_KEY: "G3lw95cuNyvrVDK5cDfSzkOaJMX6rA8sGcJVvBsJ"
    DATABASE_URI: "mongodb://teiwoong:gold777@ds023074.mlab.com:23074/cartoon-sprint-2"
    NODE_ENV: "production"
    SERVER_URL: "https://cartoon-sprint-2.herokuapp.com"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
